.change-filament {
  &__info {
    font-size: 65%;
    opacity: 0.9;
    display: block;
    text-align: center;
  }

  &__filament {
    &-name {
      width: 82vw;
      margin-top: 5vh;
      margin-left: 7vw;
      text-align: center;
      font-size: 0.9rem;
      opacity: 0.8;
      display: block;
      text-overflow: ellipsis;
    }

    &-weight {
      opacity: 1;
      font-size: 1rem;
      line-height: 1.5rem;
      display: block;
      text-align: center;
    }
  }
}
